body {
background-color: #ECECEC !important;
}
.container1 {
    background-color: white;

}
.container2 {
    background-color: #f8f8f8;
}
.textbox {
    color: #3b6f9a;
}
.box {
    background-color: #fafafa;
}
.title1  {
    text-decoration: underline;
    text-decoration-color: #ffaf00;
}
.title2 {
    text-decoration: underline;
    text-decoration-color: #ffaf00;
  }

.imgbox {
    background-color: #ffffff;
}
.imgboxtxt{
    color: #3b6f9a;
}
.price{
    color: #3b6f9a;
}
.btn{ 
    background-color: #ffaf00;
    color: white;
    border-color: #ffaf00;
}
.fas{
    color: #ffaf00;
}